
.icon-clipboard:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-cw:before { content: '\e803'; } /* '' */
.icon-ok-outline:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-list-add:before { content: '\e806'; } /* '' */
.icon-plus-circled:before { content: '\e807'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
